.post { 
    box-shadow: 0px 0px 5px #00000044;
    overflow: hidden; 
    margin: 0 auto;
}
.post:hover {
    scale: 1.02;
}
.postMedia {
    height: 300px;
    width: 100%;
}

.tabBtn {
    background-color: transparent;
    text-transform: uppercase;
    margin-right: 5px;
    padding: 7px 30px;
    font-weight: 700;
    margin-left: 5px;
    color: #FFFFFF;
    border: none;
}
.tabBtn:active, .tabBtn:focus {
    outline: none;
    border: none;
}
.active {
    border-bottom: 0.6px solid #00000044;
    border-top: 0.6px solid #00000044;
    background-color: #FFFFFF;
    padding: 5px 30px;
    color: #000000;
}


@media (min-width: 300px) and (max-width: 575px) {
    .postMedia {
        height: 370px;
    }
}
/*
 @media (min-width: 576px) and (max-width: 767px) {
    .postMedia {
        height: 300px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .postMedia {
        height: 300px;
    }
} */
