.w100 {
    margin: 5vh auto;
    max-width: 80%;
    width: 80%;
    height: 90vh;
}
.leftView {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}
.rightView {
    border-left: 0.6px solid #C3C3C3;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    padding: 0;
    margin: 0;
}


.postHeader {
    border-bottom: 0.6px solid #C3C3C3;
    align-items: center;
    flex-direction: row;
    padding-left: 10px;
    display: flex;
}

.userPhoto {
    border-radius: 25px;
    height: 50px;
    width: 50px;
}

.userPhotoAlt {
    background-color: #DDDDDD44;
    text-transform: uppercase;
    justify-content: center;
    border-radius: 25px;
    align-items: center;
    font-weight: 700;
    font-size: 22px;
    display: flex;
    height: 50px;
    width: 50px;
    margin: 0;
    border: 0.5px solid #00000044;
}

.postDetail {
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
    display: flex;
    flex: 1;
}

.menuBox {
    justify-content: center;
    align-items: center;
    display: flex;
}

.menuIconButton {
    background-color: transparent;
    border: none;
}

.menuIconButton:focus-visible,
.menuIconButton:active,
.menuIconButton:focus {
    box-shadow: none;
    border: none;
    outline: none;
}
.footerBox {
    border-bottom: 0.6px solid #C3C3C3;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    display: flex;
}

.footerItem {
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
}

.modaal {
    font-family: 'Courier New', Courier, monospace;
}
.modalTitle {
    font-weight: 700;
}
.mBody {
    /* max-height: 20rem; */
    overflow: scroll;
}
.cartItem {
    border-bottom: 1px solid lightgray;
    align-items: center;
    margin-bottom: 15px;
    flex-direction: row;
    display: flex;
}
.cartItem:last-child {
    margin-bottom: 0px;
    border: none;
}
.image {
    margin-right: 10px;
    height: 40px;
    width: 40px;
}

.descBox {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    display: flex;
    flex: 1;
}
.descBox p {
    padding: 0;
    margin: 0;
    flex: 1;
    text-align: right;
}
.descBox p:first-child {
    text-align: left !important;
}
.footer {
    flex-direction: column;
    display: flex;
}
.priceBox {
    justify-content: space-between;
    flex-direction: row;
    padding: 0 1%;
    display: flex;
    width: 100%;
}
.ftr {
    justify-content: flex-end;
    flex-direction: row;
    margin-top: 10px;
    display: flex;
    width: 100%;
    padding-right: 10px;
}
.ftr button {
    text-transform: uppercase;
    letter-spacing: 1.3px;
    padding: 5px 25px;
    font-weight: 900;
}
