.leftDiv {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
}

.item {
    display: flex;
    flex: 1;
}

.image {
    border-radius: 5px;
    height: 140px;
    flex: 1;
}
