body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #d9d7d7;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

main {
    text-align: center;
}
